/* Cài đặt hiệu chỉnh css ở đây*/
.img-product{
    width:100%;
}

.font{
    font-family: 'Pacifico', cursive;
}

.hide-id{
    display: none;
}
.underline-detail{
	margin-right: 50px;
}

.underline-bid{
	color: white !important;
}

.select-categ{
	padding-top: 20px;
}

.looking{
    height: 70%;
	width: 100%;
	padding-top: 15px !important;
}



.detail{
    float: right !important;
    padding: 50px 120px 45px 0px;
}

.btn-bid{
    margin-top: 20px;
    margin-left:40%;
}
.btn-bid2{
    margin-top: 20px;
}

.breadcrumb-custom{
    background-color: white !important;
}


/*CSS cho sell.html*/
.review{
    height: 200px;
    width: 100%;
}
.align-col{
    float: right;
}
input::-webkit-input-placeholder {
    font-size: 20px;
}

.red{
    color: red;
    font-size: 20px;
}

.around{
    height: 30px;
    background-color: #f3eeb8 !important;
    color: #ff00e0;
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
* {
    box-sizing: border-box;
}